* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}


/* Total Card */

.total-card {
    background: #222;
    color: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 25px;
}

.total-card p {
    font-size: 16px;
}

.total-card h2 {
    font-size: 35px;
    margin-top: 8px;
}


/* General Card */

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-bottom: 20px;
}


/* Form */

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

input,
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
}

button {
    grid-column: span 2;

    padding: 12px;

    background: #222;
    color: white;

    border: none;
    border-radius: 7px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #444;
}


/* Table */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background: #f5f5f5;
}

.category {
    background: #eee;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
}

.delete {
    color: #d33;
    text-decoration: none;
    font-weight: bold;
}

.delete:hover {
    text-decoration: underline;
}

.empty {
    text-align: center;
    color: #777;
    padding: 20px;
}


/* Mobile */

@media (max-width: 700px) {

    form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: span 1;
    }

    table {
        font-size: 13px;
    }

    th,
    td {
        padding: 8px;
    }

}